{% extends "base.html" %}
{% block stylesheet %}
<link rel="stylesheet" href="{{url_for('static', filename='new.css')}}">

{% endblock %}

{% block title %}Settings{% endblock %}

{% block content %}


    <h3>Hello, {{user.staff_name}}! </h3>
    <br>
    <br>
    <div class="row">
        <div class="col">
            <div class="card" style="width: 30vw;" >
                <img src="{{url_for('static', filename='username.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title" align="center">Change Username</h5>
                
                <div class="d-grid gap-2">
                    <a id="usernamebtn"  href="javascript:showusername()" class="btn btn-lg btn-primary stretched-link"> Update</a>
                </div>
                
                </div>
            </div>
        </div>
    
        <div class="col">
            <div class="card"  style="width: 30vw;">
                <img src="{{url_for('static', filename='password.jpg')}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title" align="center">Change Password</h5>
                
                <div class="d-grid gap-2">
                    <a id="passwordbtn"  href="javascript:showpassword()" class="btn btn-lg btn-primary stretched-link"> Update</a>
                </div>
                
                </div>
            </div>
        </div>

    </div>

    <div class="row" id="username" style="display: none;">
       
        <form method="POST" enctype="multipart/form-data">
            <br>
            <br>
            <br>
            <br>
       
            
    
            <div class="form-group">
                <label for="username">Enter Current Username:</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username" required/>
            </div>

            <div class="form-group">
                <label for="newusername">Enter New Username:</label>
                <input type="text" class="form-control" id="newusername" name="newusername" required/>
            </div>
          
            
            <br>
            <input type="submit" class="btn btn-primary" id="form1" name="form1" value="Update"/>
            <br>
            <br>
            <br>
            <br>
        
        </form>

    </div>

    <div class="row" id="password" style="display: none;">
       
        <form method="POST" enctype="multipart/form-data">
            <br>
            <br>
            <br>
            <br>
       
            
    
            <div class="form-group">
                <label for="password">Enter Current Password:</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required/>
            </div>

            <div class="form-group">
                <label for="newpassword">Enter New Password:</label>
                <input type="password" class="form-control" id="newpassword" name="newpassword" required/>
            </div>
          
            
            <br>
            <input type="submit" class="btn btn-primary" id="form2" name="form2" value="Update"/>
            <br>
            <br>
            <br>
            <br>
        
        </form>

    </div>
    

{% block Javascript %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function showusername() {
    var x = document.getElementById("username");
    if (x.style.display === "none") {
        x.style.display = "block";
        document.getElementById("password").style.display = "none";
        setTimeout(document.getElementById("username").scrollIntoView(),2000);
       
    } else {
        x.style.display = "none";
    }
    }
    function showpassword() {
    var x = document.getElementById("password");
    if (x.style.display === "none") {
        x.style.display = "block";
        document.getElementById("username").style.display = "none";
        setTimeout(document.getElementById("password").scrollIntoView(),2000);
       
    } else {
        x.style.display = "none";
    }
    }
</script>
<script>
$(document).ready(function(){
  // Add smooth scrolling to all links
  $("button").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function(){

        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
});
</script>

{% endblock %}
    

{% endblock %}

