.logo-image{
    width: 50%;
    height: auto;
    padding-top: 50px;
    margin: 0;
    vertical-align: middle;
    float: right;
    
}
body {
    overflow:auto;
}
.logo-title{
    
    font-family: 'Nunito', sans-serif;
    color: whitesmoke;
    font-size: 5vw;
    padding-top: 80px;
            
    
}

.logo{
    padding-right: 0%;
    
}

